.sa-date {
    /*cursor: pointer;*/
    transition-duration: 0.5s;
}

.sa-empty.sa-date {
    visibility: hidden;
}

.ui.label.sa-date {
    margin: 2px 2px;
}

.sa-date:hover {
    color: #ffffff;
    background-color: #cccccc;
}

.ui.card.sa-month {
    width: 300px;
    transition-duration: 0.5s;
}

.ui.large.container {
    width: 90%;
}
