<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>股助-資料維護</title>

    <link rel="stylesheet" th:href="@{/resources/semantic/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/resources/other/sa.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script th:src="@{/resources/semantic/semantic.min.js}"></script>
    <script th:src="@{/resources/other/sseUtils.js}"></script>
    <script th:src="@{/resources/other/sa.js}"></script>
</head>
<body>
<div class="ui large container">
    <br>
    <div class="ui pagination menu" id="yearPage">
        <a class="item" data-year="2018">
            2018
        </a>
        <a class="item" data-year="2019">
            2019
        </a>
    </div>
    <br>
    <div class="ui cards" id="dateGrid">
    </div>
</div>
</body>
<script type="application/javascript">
  $(function () {
    let currentYear = moment().format('YYYY');
    $(`#yearPage a.item[data-year="${currentYear}"]`).addClass('active');
    render(currentYear);
    check(currentYear);

    $('#yearPage a.item').on('click', e => {
      let $target = $(e.target);
      if (!$target.hasClass('active')) {
        $('#yearPage a.item').removeClass('active');
        let choosedYear = $target.data('year');
        $target.addClass('active');
        render(choosedYear);
        check(choosedYear);
      }
    });

    /** 根據資料來對日期格子上色 */
    function renderDateColor(date, totleType, msg) {
      let $saDate = $(`.sa-date[data-date="${date}"]`);
      $saDate.removeClass('orange');
      $saDate.removeClass('yellow');
      $saDate.removeClass('green');
      $saDate.removeClass('brown');
      $saDate.removeAttr('data-tooltip');
      $saDate.removeAttr('data-inverted');

      switch (totleType) {
        case 'FAILED':
          $saDate.addClass('orange');
          $saDate.attr('data-tooltip', msg);
          $saDate.attr('data-inverted', '');
          break;
        case 'FILE':
          $saDate.addClass('yellow');
          break;
        case 'DB':
          $saDate.addClass('green');
          break;
        case 'NONE':
          $saDate.addClass('brown');
          break;
      }
    }

    /** 檢查一年內的每天資料狀態 */
    function check(year) {
      let eventSource = new EventSource(`/api/stock/check/year/${year}`);
      eventSource.onmessage = evt => {
        // 抓出每一天的格子，並根據結果上色
        let data = JSON.parse(evt.data);
        let date = data.dataDate.substr(0, 10);
        renderDateColor(date, data.totalType, data.msg);
      };
      eventSource.onerror = evt => eventSource.close();
    }

    /** 載入資料(by月份) */
    function fetchMonth(yearMonth, type) {
      let $saMonthBtn = $(`.ui.bottom[data-date="${yearMonth}"]`);
      let $saDateAll = $(`.sa-month[data-date="${yearMonth}"] .sa-date`).not('.sa-empty');
      $saDateAll.dimmer('show');
      $saMonthBtn.dimmer('show');

      let eventSource = new EventSource(`/api/stock/init/${type}/month/${yearMonth}`);
      eventSource.onmessage = evt => {
        // 抓出每一天的格子，並根據結果上色
        let data = JSON.parse(evt.data);
        let date = data.dataDate.substr(0, 10);
        $(`.sa-date[data-date="${date}"]`).dimmer('hide');
        renderDateColor(date, data.totalType, data.msg);
      };
      eventSource.onerror = evt => {
        eventSource.close();
        $saMonthBtn.dimmer('hide');
        $(`.sa-month[data-date="${yearMonth}"] .sa-date.dimmed`).dimmer('hide');
        notifySyncComplete(yearMonth + ':' + type);
      };
    }

    /** 繪製整年資訊 */
    function render(year) {
      let firstDay = moment(year, 'YYYY').startOf('year');
      let lastDay = moment(year, 'YYYY').endOf('year');

      $('#dateGrid').empty();

      // 把每一月畫出來
      for (let currDate = firstDay; currDate.isBefore(lastDay); currDate.add(1, 'M')) {
        prepareMonth(currDate.format('YYYY-MM'))
          .appendTo('#dateGrid');
      }

    }

    /** 準備一個月個資訊 */
    function prepareMonth(yearMonth) {
      let firstDay = moment(yearMonth, 'YYYY-MM').startOf('month');
      let lastDay = moment(yearMonth, 'YYYY-MM').endOf('month');

      // 日期的Tmp
      let dateTmp = `
        <span class="ui label sa-date">
            <div class="ui inverted dimmer">
                <div class="ui mini loader"></div>
            </div>
        </span>`;

      // 月份的Tmp
      let $month = $(`
        <div class="ui card sa-month" data-date="${yearMonth}">
            <div class="content">
                <div class="header">${yearMonth}</div>
                <div class="description"></div>
            </div>
        </div>
    `);
      // 月份同步按鈕
      let $syncBtns = $(`
    <div class="ui two buttons">
    </div>
    `);

      let $syncApiBtn = $(`
        <div class="ui bottom button" data-date="${yearMonth}">
            <i class="sync alternate icon"></i>Sync@API
            <div class="ui inverted dimmer">
                <div class="ui small loader"></div>
            </div>
        </div>
    `).on('click', e => {
        fetchMonth($(e.target).attr("data-date"), 'api');
      });

      let $syncFileBtn = $(`
    <div class="ui bottom button" data-date="${yearMonth}">
        <i class="sync alternate icon"></i>Sync@File
        <div class="ui inverted dimmer">
            <div class="ui small loader"></div>
        </div>
    </div>
    `).on('click', e => {
        fetchMonth($(e.target).attr("data-date"), 'file');
      });

      $syncBtns.append($syncApiBtn);
      $syncBtns.append($('<div class="or"></div>'));
      $syncBtns.append($syncFileBtn);
      $month.append($syncBtns);

      // 日期要塞的位置
      let $monthDesc = $month.find('div.description');

      // 要排出月曆的樣子，因此每月第一天前要塞隱形格
      let dayOfWeeb = firstDay.day();
      for (let day = 0; day < dayOfWeeb; day++) {
        $(dateTmp)
          .addClass('sa-empty')
          .append('00') // label會根據內文長出相對應長度，日期統一都是兩碼數字
          .appendTo($monthDesc);
      }

      // 把每一天畫出來
      for (let currDate = firstDay; !currDate.isAfter(lastDay); currDate.add(1, 'd')) {
        $(dateTmp)
          .attr("data-date", currDate.format('YYYY-MM-DD'))
          .append(currDate.format('DD'))
          .appendTo($monthDesc);
      }

      return $month;
    }

    function notifySyncComplete(time) {
      winNotify(`已完成【${time}】資料同步`);
    }
  });
</script>
</html>
